.tqs_block {
  &_header {
    padding-bottom: 2rem;
    background: rgb(248, 248, 248);
    background: linear-gradient(
      90deg,
      rgba(248, 248, 248, 1) 0%,
      rgba(251, 251, 251, 1) 52%,
      rgba(254, 254, 254, 1) 100%
    );
    > h2 {
      text-transform: uppercase;
      font-size: 16px;
      font-family: $ttlr;
      font-weight: 400;
    }
  }
  &_swiper {
    display: flex;
    // justify-content: center;
    // max-width: 100%;
  }
  &_row {
    @media (min-width: 768px) {
      flex-wrap: wrap;
      gap: 0.6rem;
    }
  }
  &_style {
    width: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-right: 0px !important;
    margin-left: 0px !important;

    > .btn {
      border: 3px solid #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 10px;
      padding: 10px 30px;
    }
  }
}
