@include font-face('notosans', 'notosans', 400);
@font-face {
  font-family: 'TTlakes-reg';
  src: url(../fonts/TTLakes-Regular.ttf);
}
@font-face {
  font-family: 'TTlakes-black';
  src: url(../fonts/TTLakes-Black.ttf);
}

@font-face {
  font-family: 'TTlakes-medium';
  src: url(../fonts/TTLakes-Medium.ttf);
}
