@import 'mixins';
@import 'fonts';
@import 'vendor';
@import 'vars';
@import 'settings';
@import './scss-components/header';
@import './scss-components/aside';
@import './scss-components/main-title';
@import './scss-components/main_body';
@import './scss-components/main_swiper';

img {
  max-width: auto;
}
.wrapper-main {
  padding-left: 1.4vh;
  font-family: $ttlr;
}
.swiper-pagination-bullet {
  background-color: #aeaeae;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.swiper-pagination {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  @media (min-width: 768px) {
    display: none;
  }
}

.tqs_block_button {
  display: none;
  padding: 2rem 0;
  max-width: 1330px;
  margin: 0 auto;
  > button {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    font-size: 19px;
    border: 0;
    font-weight: 600;
    background-color: #fcfcfc;
  }
  @media (min-width: 768px) {
    display: flex;
  }

  .tqs_block_button__style::before {
    content: url(../assets/swiper/icon.svg);
  }
}

.active {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.aisde-container {
  display: none; // Изначально скрыт
  &.showContent {
    display: block; // Показать элемент
  }

  @media (min-width: 1120px) {
    display: block;
    position: relative;

    .hideElements {
      display: none;
    }
  }
}

@media (min-width: 1120px) {
  .wrapper {
    display: grid;
    grid-template-columns: 360px 1fr;
  }
}
