@import 'mixins';
@import 'fonts';
@import 'vendor';
@import 'vars';
@import 'settings';
@import './scss-components/header';
@import './scss-components/aside';
@import './scss-components/main-title';
@import './scss-components/main_body';
@import './scss-components/main_swiper';

.wrapper-main {
  padding-left: 1.4vh;
  font-family: $ttlr;
}

.main_swiper {
  @media (min-width: 768px) {
    .swiper-pagination {
      display: none;
    }

    &____section_right {
      width: 500px;
    }
  }
  &__block_row {
    display: flex;
    flex-direction: column;
  }
  &__section_left {
    padding: 0.5rem 0 1.5rem 0;
    > h2 {
      font-weight: 500;
      font-size: 16px;
      font-family: $ttlr;
      text-transform: uppercase;
      opacity: 0.6;
    }
  }

  .swiper {
    width: 50%;
    margin: 0 auto;
  }
  .swiper-slide {
    width: 50%;
    margin: 0;
  }
  &__section_right {
    display: flex;

    width: 260px;
    @media (min-width: 500px) {
      width: 500px;
    }
    @media (min-width: 768px) {
      background-color: red;
    }
  }
  &__block_swiper {
    display: flex;
    align-items: center;

    gap: 1rem;
    width: 200px;
  }
  &__block_element {
  }
  &__block_style {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    width: 220px;
    min-height: 70px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 5px;
  }
  .swiper-pagination {
    position: relative;
    bottom: 0;
  }
}
